{{#each toys as |toy|}}

  <div id="view-all-toys-handlebars" class="card" data-id="{{toy.id}}">

    <div class="card-body col-sm-2 col-med-2" data-id= ="card{{toy-id}}" style="background-color: blue; border-color: red; width: 30.5%; min-height: 300px; margin: 10px; padding-top: 20px;">
      <div class="show-options col-xs-12 delete-toy">
    <h5>Name:{{toy.name}}</h5> <h5>Description:{{toy.description}}</h5>

    <button type="button pull-right" data-toggle="modal" data-target= '#{{toy.id}}'  data-id="{{toy.id}}" class="shareToyButton btn btn-primary">Request to share</button>

      </div>
    </div>
  </div>

{{/each}}
<!--
<ul class="list-group">
 <li class="list-group-item">Title: {{assignment.title}}</li>
 <li class="list-group-item">Description: {{assignment.description}}</li>
 <li class="list-group-item"><div class="custom-control custom-checkbox">
   <input type="checkbox" class="custom-control-input" id="defaultUnchecked">
   <label class="custom-control-label" for="defaultUnchecked">Completed</label></li>
</div> -->
